<div class="row">
	<div class="offset3 span6">
		<h2>Sign in</h2>
		<%= form_tag sessions_path do %>
		  <%= label_tag :email %>  
		  <%= text_field_tag :email, params[:email], id: "login_email" %>

		  <%= label_tag :password %>  
		  <%= password_field_tag :password, nil, id: "login_password" %>

		  <%= submit_tag "Sign in", class: "btn btn-large" %>  
		<% end %>
		
		...or <%= link_to "sign up!", signup_path%>
	</div>
</div>