<div class="row">
	<div class="span6">
		<h2>Sign in</h2>
		<%= form_tag sessions_path do %>
		  <%= label_tag :email %>  
		  <%= text_field_tag :email, params[:email] %>

		  <%= label_tag :password %>  
		  <%= password_field_tag :password %>

		  <%= submit_tag "Sign in", class: "btn btn-large" %>  
		<% end %>
	</div>
	<div class="span6">
		<h2>...or sign up!</h2>
		<%= form_for(@user) do |f| %>

	      <%= f.label :name %>
	      <%= f.text_field :name %>

	      <%= f.label :email %>
	      <%= f.text_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation %>

	      <%= f.submit "Create account", class: "btn btn-large" %>
	    <% end %>
	</div>	
</div>