<div id='explanation'>
    TOSBack keeps an eye on website policies.<br>
    Every time one of them changes, you'll see an update here.
</div>
<% @notifications.each do |n| %>
	<div class='timeline'>
		<%= image_tag n.image_from_sitename, size:"32x32" %>
		<div class='info'>
			<h3><%= n.site.capitalize %></h3>
			<div class='changed'>
				TOSBack recorded a new version of the <%= n.name %><br />
				<%= link_to "View the changes on Github", n.diff_url %>
			</div><!--changed-->
			<div class='when'>
				<%= n.created_at.to_date.to_formatted_s(:long) %>
			</div><!--when-->
		</div><!-- info-->
		<br class='clear'>
	</div><!--timeline-->
<% end %>
<%= will_paginate @notifications %>
