<% content_for :sidebar do %>
  <div class='block'>
    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <%= render @policy.versions.limit(10) %>
        <!-- TODO: make a partial from this sidebar if we're using in many views -->
      </ul>
      <h4><%= link_to "Back to current policy...", policy_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<h3>Here's the list of versions that we have archived for <%= @policy.name %>!</h3>
<p>Choose a version to see the archived copy and compare what's been changed!</p>

<ul class="policy_versions">
  <%= render @versions %>
</ul>
<!-- TODO: make this look better/change content on this page to have version stats or something -->
<%= will_paginate @versions %>
