<% content_for :sidebar do %>
  <div class='block'>
    <h3>
      Belongs to:
    </h3>
    <div class='blockbody'>
      <%= render 'shared/list_each_as_link', list_object: @sites, ul_class: "sites" %>
    </div>
    <%= will_paginate @sites, param_name: 'site_page' %>

    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <%= render @policy.versions.limit(10) %>
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
      <h4><%= link_to "Back to current policy...", policy_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<%= content_tag :div, id: 'version_info', data: {current_version: @version.id} do %>
  <h1><%= @policy.name %></h1>
  <h3><span id="date_text">ToSBack stored this version on <%= @version.created_at.to_date.to_formatted_s(:long) %></span></h3>
<% end %>

<div id="policy_diff"></div>
<!-- TODO change id to 'text' and update css -->
<div id="policy_text">
  <%= @version.text.html_safe %>
</div>
