<% content_for :sidebar do %>
  <div class='block'>
    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <% @versions.each do |v| %>
          <li><%= link_to v.created_at.to_date.to_formatted_s(:long), policy_version_path(@policy,v.id) %></li>
        <% end %>
        <!-- TODO link to diff path -->
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<h1><%= @policy.name %></h1>
<h3>from <%= @version.created_at.to_date.to_formatted_s(:long) %></h3>
<%= link_to "Differences with current", policy_version_path(@policy,@version,diff: "current"), class: "btn" %>
<%= link_to "Differences with previous", policy_version_path(@policy,@version, diff: "previous"), class: "btn" %>

<div id="previous_policy">
  <%= @content %>
</div>
