<% content_for :sidebar do %>
  <div class='block'>
    <div id="blockbody">
      <h3>View version from:</h3>
        <%= render 'shared/list_versions', list_object: @versions, ul_class: "versions" %>
        <!-- TODO link to diff path -->
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
      <h4><%= link_to "Back to current policy...", policy_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<h1><%= @policy.name %></h1>
<h3>from <span id="policy_date"><%= @version.created_at.to_date.to_formatted_s(:long) %></span></h3>

<!-- TODO change id to 'text' and update css -->
<div id="policy_text">
  <%= @version.text.html_safe %>
</div>
