<!DOCTYPE html>
<html>
<head>
  <title>TOSBack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<% if flash.any? %>
	<div class="container" id="flash">
	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	</div>
<% end %>

<div class="container" id="main">
<%= yield %>
</div>

</body>
</html>
