<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title>TOSBack | The Terms-Of-Service Tracker</title>
  <%= stylesheet_link_tag    "oldcss/notifications", :media => "all" %>
</head>
<body>

<div id="page">
  <div id="header">
    <div id="innerheader">
      <a href="http://www.tosback.org/">
        <h1 id="logo">
          TOSBack
        </h1>
        <div id="tagline">
          The terms-of-service tracker.
        </div><!--tagline-->
      </a>
      
		<div id="projectof">
			<%= image_tag "collab.png" %><br />
			<a href="http://www.eff.org/"><div id="eff_logo">EFF</div>
			<!-- <%= image_tag "eff_logo.png", alt:"Electronic Frontier Foundation", id:"eff_logo" %> -->
			</a>
			<a href="http://tosdr.org/"><div id="tosdr_logo">ToS;DR</div>
			<!-- <%= image_tag "tosdr_logo.png", alt:"Terms of Service; Didn't Read", id:"tosdr_logo" %> -->
			</a>
		</div>
  	</div><!--innerheader-->
  </div><!--header-->
  
  
  <div id="mission" class="block">
    <h2>TOSBack.org is Under Construction</h2>
    <p>
		TOSBack is a collaboration between the <a href='https://www.eff.org/'>EFF</a>, the <a href='http://www.internetsociety.org/'>Internet Society</a>, and <a href='http://tosdr.org/'>ToS;DR</a>. Every day, we check the Terms and Policies of many online services to see if any of them have changed. The project is currently in beta as we are working on some improvements to ensure greater reliability and coverage. For now, please double check any results with	the website operator before relying on them for important legal or journalistic purposes.
    </p>
  </div>
  
    
<div id="body">
	<div id="sidebar">
		<div class='block'>
			<h3>
				Organizations
			</h3>
			<h4>(ToS;DR Reviews)</h4>
			<div class='blockbody'>
				<ul>
					<li>
						<a href='http://tosdr.org#500px'>500px</a>
					</li>
					<li>
						<a href='http://tosdr.org#amazon'>Amazon</a>
					</li>
					<li>
						<a href='http://tosdr.org#apple'>Apple</a>
					</li>
					<li>
						<a href='http://tosdr.org#at-t'>AT&amp;T</a>
					</li>
					<li>
						<a href='http://tosdr.org#comcast'>Comcast</a>
					</li>
					<li>
						<a href='http://tosdr.org#couchsurfing'>Couchsurfing</a>
					</li>
					<li>
						<a href='http://tosdr.org#delicious'>Delicious</a>
					</li>
					<li>
						<a href='http://tosdr.org#dropbox'>Dropbox</a>
					</li>
					<li>
						<a href='http://tosdr.org#duckduckgo'>DuckDuckGo</a>
					</li>
					<li>
						<a href='http://tosdr.org#facebook'>Facebook</a>
					</li>
					<li>
						<a href='http://tosdr.org#flickr'>Flickr</a>
					</li>
					<li>
						<a href='http://tosdr.org#github'>Github</a>
					</li>
					<li>
						<a href='http://tosdr.org#google'>Google</a>
					</li>
					<li>
						<a href='http://tosdr.org#microsoft'>Microsoft</a>
					</li>
					<li>
						<a href='http://tosdr.org#myspace'>MySpace</a>
					</li>
					<li>
						<a href='http://tosdr.org#netflix'>Netflix</a>
					</li>
					<li>
						<a href='http://tosdr.org#rapidshare'>Rapidshare</a>
					</li>
					<li>
						<a href='http://tosdr.org#skype'>Skype</a>
					</li>
					<li>
						<a href='http://tosdr.org#soundcloud'>SoundCloud</a>
					</li>
					<li>
						<a href='http://tosdr.org#spotify'>Spotify</a>
					</li>
					<li>
						<a href='http://tosdr.org#steam'>Steam</a>
					</li>
					<li>
						<a href='http://tosdr.org#tumblr'>Tumblr</a>
					</li>
					<li>
						<a href='http://tosdr.org#twitpic'>Twitpic</a>
					</li>
					<li>
						<a href='http://tosdr.org#twitter'>Twitter</a>
					</li>
					<li>
						<a href='http://tosdr.org#wikipedia'>Wikipedia</a>
					</li>
					<li>
						<a href='http://tosdr.org#wordpress-com'>Wordpress.com</a>
					</li>
					<li>
						<a href='http://tosdr.org#yahoo'>Yahoo!</a>
					</li>
					<li>
						<a href='http://tosdr.org#youtube'>YouTube</a>
					</li>
				</ul>
			</div><!--blockbody-->
		</div><!--block-->
	</div><!--sidebar-->
	
	<div id="content" class="narrow">
		<div id='explanation'>
			TOSBack keeps an eye on website policies.<br>
			Every time one of them changes, you'll see an update here.
		</div>
			
		<%= yield %>	
			
	</div><!--narrow content -->
</div><!-- body-->


  <div id="footer">
    
    <div id="innerfooter">
      <a href="http://www.eff.org/"><h5>A Project of the Electronic Frontier Foundation | eff.org</h5></a>
      <a href="http://tosdr.org/"><div id="tosdr_footer">Terms of Service; Didn't Read</div></a>		
    </div><!--innerfooter-->
    
  </div><!--footer-->

</div><!-- page -->


</body></html>