<% content_for :sidebar do %>
  <div class='block'>
    <h3>
      Belongs to:
    </h3>
    <div class='blockbody'>
      <%= render 'shared/list_each_as_link', list_object: @sites, ul_class: "sites" %>
    </div>
    <%= will_paginate @sites, param_name: 'site_page' %>

    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <%= render @policy_presenter.versions %>
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<%= content_tag :div, id: 'version_info', data: {current_version: @policy.versions.first.id} do %>
<% end %>

<h1><%= @policy_presenter.name %></h1>
<span id="date_text"><%= @policy_presenter.default_date %></span>

<div id="policy_diff"></div>
<div id="policy_text">
  <%= @policy_presenter.default_version_text %>
</div>
