<% content_for :sidebar do %>
  <div class='block'>
    <h3>
      Belongs to:
    </h3>
    <div class='blockbody'>
      <%= render 'shared/list_each_as_link', list_object: @sites, ul_class: "sites" %>
    </div>
    <%= will_paginate @sites, param_name: 'site_page' %>

    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <%= render 'shared/list_versions', list_object: @policy_presenter.versions, ul_class: "versions" %>
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<h1><%= @policy_presenter.name %></h1>
<%= @policy_presenter.default_date %>

<div id="policy_text">
  <%= @policy_presenter.default_version_text %>
</div>
