<% content_for :sidebar do %>
  <div class='block'>
    <h3>
      Belongs to:
    </h3>
    <div class='blockbody'>
      <%= render 'shared/list_each_as_link', list_object: @sites, ul_class: "sites" %>
    </div>
    <%= will_paginate @sites, param_name: 'site_page' %>

    <div id="blockbody">
      <h3>View version from:</h3>
      <ul class="versions">
        <% @policy_presenter.versions.each do |v| %>
          <li><%= link_to v.created_at.to_date.to_formatted_s(:long), policy_version_path(@policy,v.id) %></li>
        <% end %>
      </ul>
      <h4><%= link_to "View all versions...", policy_versions_path(@policy) %></h4>
    </div>
  </div>
<% end %>

<h1><%= @policy_presenter.name %></h1>
<%= @policy_presenter.default_date %>

<div id="policy_current">
  <%= @policy_presenter.default_version_text %>
</div>
